<div class="fluid-container">
    <header>
        <ul class="nav">
        <li class="nav-item"><a class="nav-link active" routerLink="/home">Home</a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/product">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="aboutus">About us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contacts">contact</a></li>
        </ul> 
    </header>
    <div class="my-3">
        <img src="../assets/main-banner.jpg" alt="banner" width="100%" height="auto">
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <h1>Ecommerce</h1>
            <p>E-commerce (electronic commerce) is the activity of electronically buying or selling of products on online services or over the Internet. E-commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing, online transaction processing, electronic data interchange (EDI), inventory management systems, and automated data collection systems. E-commerce is in turn driven by the technological advances of the semiconductor industry, and is the largest sector of the electronics industry.</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <img src="../assets/image-5.jpg" alt="banner" width="100%" height="uto">
                </div>
                <div class="col-md-6">
                    <img src="../assets/image-6.jpg" alt="banner" width="100%" height="auto">
                </div>

            </div><br/>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <img src="../assets/image-7.jpg" alt="banner" width="100%" height="auto">
                </div>
                <div class="col-md-6">
                    <img src="../assets/Katie-and-Shanes-finished-office-space-2-Large.jpg" alt="banner" width="100%" height="auto">
                </div>

            </div>
        </div>

    </div>
    </div>
    <div class="container p-4">
        <h1>About us</h1>
        <p>A businessman or businesswoman is a person who has ownership or shareholdings over a private establishment and undertakes activities (commercial or industrial) for the purpose of generating cash flow, sales, and revenue by utilizing a combination of human, financial, intellectual and physical capital with a view to fueling economic development and growth.</p>
        <div class="row">
            <div class="col-md-3" *ngFor="let image of images">
                <img src="{{image.url}}" alt="banner" width="100%" height="300vh">
                <h3>{{image.name}}</h3> 
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Complete ECommerce Solution</h1>
        <div class="row">
            <div class="col-md-4" *ngFor="let solution of solutions">
                <div class="card">
                    <img class="card-img-top" src="{{solution.url}}" alt="solution1" width="100%" height="200">
                    <div class="card-body">
                    <h4 class="card-title m-2">{{solution.title}}</h4>
                    <p class="m-2">{{solution.description}}</p>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="fluid-container bg-dark text-white mt-5 p-3">
        <div class="container">
        <div class="row text-center">
            <div class="col-md-3" *ngFor="let detail of details">
                <h5>{{detail.title}}</h5>
                <ul type="none">
                    <li>{{detail.sol1}}</li>
                    <li>{{detail.sol2}}</li>
                    <li>{{detail.sol3}}</li>
                    <li>{{detail.sol4}}</li>
                    <li>{{detail.sol5}}</li>
                </ul>

            </div>
        </div>
    </div>
    <p class="text-center p-2 ">&copy;1995-2021, ecomm.com,Inc</p>
    </footer>
</div>